$panelWidth: 50px;
$panelWidthOpened: 190px;

$white: #fff;
$orange: #e67e22;
$textColor: #7C858C;

$iconHoverColor: #3C8DAA;
$sideNavBarBgColor: #502F5D;
$navNodeTextIconColor: $white;
$navNodeTextIconHoverColor: $white;
$navNodeTextIconHoverBgColor: #3D2E55;

/* break points borrowed from Office UI Fabric */
$ms-screen-min-sm: 320px !default;
$ms-screen-min-md: 480px !default;
$ms-screen-min-lg: 640px !default;
$ms-screen-max-sm: ($ms-screen-min-md - 1);
$ms-screen-max-md: ($ms-screen-min-lg - 1);

@mixin Desktop {
  @media only screen and (min-width: $ms-screen-min-md) {
    @content;
  }
}

#spPageChromeAppDiv,
.sp-App-body {
  margin-left: $panelWidth;
}

.visible-i {
  visibility: visible !important;
}

.ql-menu {
  cursor: pointer;
}

@mixin SiteNavNode {
  color: $textColor;
  // font-weight: bold;
  font-size: 16px;
  // font-family: "Source Sans Pro" !important;
}

.site-nav-node {
  position: relative;
  background-color: $sideNavBarBgColor;
  cursor: pointer;
  &.dropdown {
    > div:not(.dynamic-children) {
      .title {
        // width: 170px;
        margin-right: 30px;
      }
      button {
        border: 0;
        background-color: transparent;
        position: absolute;
        right: 10px;
      }
    }
  }
  &.active,
  &:hover,
  &.opened {
    .icon-node {
      background-color: $navNodeTextIconHoverBgColor;
      .icon svg {
        fill: $iconHoverColor;
      }
      .title,
      i {
        color: $white;
      }
      button {
        background-color: transparent;
      }
    }
    .SVGColorHover{
      stroke: $iconHoverColor;
    }
  }
  .icon-node {
    div {
      display: inline-block;
      vertical-align: middle;
    }
    .title {
      @include SiteNavNode();
    }
    i {
      color: $navNodeTextIconColor;
    }
    .icon {
      width: $panelWidth;
      height: $panelWidth;
      padding: 12px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      svg {
        max-width: $panelWidth;
        width: 100%;
        height: auto;
        fill: $textColor;
      }
    }
    button {
      margin: 0;
      padding: 0;
      height: auto;
      width: auto;
      button {
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
      }
      [data-icon-name="ChevronDownSmall"],
      [data-icon-name="ChevronUpSmall"] {
        position: relative;
        top: -2px;
      }
    }
  }
  .dynamic-children {
    background-color: $orange;
    .site-nav-node {
      .title-node {
        padding: 10px;
        color: $navNodeTextIconColor;
      }
      &.active,
      &:hover {
        background-color: $navNodeTextIconHoverBgColor;
        .title-node {
          color: $navNodeTextIconHoverColor;
        }
        .SVGColorHover{
          stroke: $iconHoverColor;
        }
      }
    }
  }
}

.site-menu-panel {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 3;
  background-color: $sideNavBarBgColor;
  margin-top: 48px;

  .site-menu-icon {
    // width: $panelWidth;
    // height: $panelWidth;
    height: 53px;
    color: $navNodeTextIconColor;
    background-color: $sideNavBarBgColor;
    margin: 0 auto;
    // &:hover,
    // &.active {
    //   background-color: $navNodeTextIconHoverBgColor;
    //   color: $navNodeTextIconHoverColor;
    // }
  }

  .site-menu {
    button {
      border: 0;
    }
    > .site-nav-node {
      cursor: pointer;
    }
    .dynamic-children {
      display: none;
    }
    &:not(.opened) {
      width: $panelWidth;
      .site-nav-node:hover .dynamic-children.flyouts {
        display: block;
        position: absolute;
        top: 0;
        left: $panelWidth;
        width: $panelWidthOpened;
      }
      .site-menu-icon{
        margin-left: 9px;
      }
    }
    &.opened {
      width: $panelWidthOpened;
      .menu-toggle {
        // margin-left: $panelWidthOpened - $panelWidth;
        width: 20%;
        float: right;
      }
      .site-nav-node .dynamic-children {
        display: block;
        .site-nav-node {
          .title-node {
            padding-left: $panelWidth;
          }
        }
      }
    }
  }
}

// Estilos personalizados
.LogoContainer{
  width: 80%;
  margin: 0;
  .MenuMainLogo{
    width: 140px;
    padding: 10px;
  }
}

.ShowIcon{
  display: inline-block;
}

.HideIcon{
  display: none;
}
.MainContainUserData{
  margin-top: 15px;
  margin-left: 15px;
  // margin-bottom: 30px;
  display: flex;
  .userProfilePic{
    width: 50px;
    display: inline-block;
    margin-top: 3px;
    img{
      width: 100%;
      border-radius: 60px;
    }
  }
  .userProfileInfo{
    display: inline-block;
    margin-left: 15px;
    color: #fff;
    .birthDate{
      color: $textColor;
    }
    .saludo,.birthDate{
      font-size: 12px;
    }
  }
}

.sideNavElemetns{
  max-width: 50px;
  color: rgb(255, 255, 255);
}

.SVGColorHover:hover{
  stroke: $iconHoverColor;
}